// Styles the social-sharing widget
@import 'util/util'; // Foundation utilities

@mixin addthis-position {
  left: 4px;
  top: 56px;

  @include breakpoint(medium) {
    left: 50px;
  }

  a {
    &:first-child {
      margin-top: 4px;
    }
  }
}

@mixin addthis-container {
  border-radius: 0;
  box-shadow: $shadow;
}

@mixin addthis {
  .addthis {
    &_floating_style { // sass-lint:disable-line class-name-format
      @include addthis-position;

      // Don't like nesting but need the specificity because
      // AddThis styles are injected later in the DOM than the site styles
      &.addthis_16x16_style { // sass-lint:disable-line class-name-format
        @include addthis-container;
      }
    }
  }
}
