//
// Layout of amc templates using CSS Grid
//

@import 'util/util'; // Foundation utilities

$gutter: 10px !default; // Gap between columns
// List CSS Grid regions
$layout-regions: (
  content,
  title,
  messages
) !default;

%helper-layout-class {
  width: 100%;
}

// Provides fallback layout for browsers that don't support CSS Grid
@mixin amc-layout-fallback {
  &-container {
    margin: 0 auto;
    min-width: 300px;
    position: relative;
    width: calc(100vw - #{4 * $gutter});

    @include breakpoint(medium) {
      // width: 600px;
    }

    @include breakpoint(large) {
      width: 960px;
    }
  }

  @each $region in $layout-regions {
    &-#{$region} {
      @extend %helper-layout-class;
    }
  }
}

// Provides CSS Grid layout
@mixin amc-layout-css-grid {
  &-container {
    @include breakpoint(medium) {
      display: grid;
      grid-gap: $gutter;
      grid-template-areas:
        'messages messages'
        '....... title'
        '....... content';
        grid-template-columns: auto 412px;
    }
    @include breakpoint(large) {

      grid-template-columns: auto 520px;
    }
  }

  // Map class names to CSS Grid areas
  @each $region in $layout-regions {
    &-#{$region} {
      grid-area: #{$region};
    }
  }
}

@mixin amc-layout-grid {
  .amc {
    @include amc-layout-fallback;
    @supports (display: grid) {
      @include amc-layout-css-grid;
    }
  }
}
