/// Color used for light gray UI items.
/// @type Color
$light-gray: #e6e6e6 !default;

/// Color used for medium gray UI items.
/// @type Color
$medium-gray: #999 !default;

/// Color used for dark gray UI items.
/// @type Color
$dark-gray: #333 !default;

/// Color used for black ui items.
/// @type Color
$black: #000 !default;

/// Color used for white ui items.
/// @type Color
$white: #fff !default;

/// Accent color
/// @type Color
$light-blue: #c4d8e3;

/// Standard drop shady
/// @type List
$shadow: 0 0 10px 0 $dark-gray;

// 2. Breakpoints
// --------------

$breakpoints: (
  small: 0,
  medium: 640px,
  large: 1024px,
  xlarge: 1200px,
  xxlarge: 1440px,
);
$print-breakpoint: large;
$breakpoint-classes: (small medium large);
