// Positions and sizes the main menu bar
@mixin menu-strip-block {
  bottom: 20px;
  height: 65px;
  left: 0;
  opacity: .5;
  overflow: hidden;
  position: fixed;
  transition: opacity .25s;
  width: 100%;
  z-index: 100;

  &:hover {
    opacity: .9;
  }
}

// Positions and sizes the content area of the menu bar
@mixin menu-content-block {
  background: #C4D8E3;
  border-left: 5px solid $dark-gray;
  border-right: 5px solid $dark-gray;
  display: block;
  float: left;
  height: 65px;
  margin: 0 3px 0 0;
  width: 300px;
}

// Positions and sizes the placehodler area of the menu bar
@mixin menu-filler-block {
  background:	$dark-gray;
  float: left;
  height: 65px;
  left: 431px;
  position: absolute;
  width: 100%;
}

// Outputs the classes for styling the menu bar
@mixin menu-strip {
  .amc {
    &-strip {
      @include menu-strip-block;
    }

    &-menu {
      @include menu-content-block;
    }

    &-filler {
      @include menu-filler-block;
    }
  }
}
