// Places the portfolio indicators in the menu bar
@mixin portfolio-indicators {
  bottom: 25px;
  left: 437px;
  position: fixed;
  z-index: 200;
}

// Styles the list of indicator buttons
@mixin portfolio-indicator-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

// Styles the individual indicator button
@mixin portfolio-indicator-item {
  background: $black;
  color: $white;
  float: left;
  font-family: Monaco, Lucida Console, Courier, mono;
  font-size: 9px;
  height: 15px;
  line-height: 9px;
  margin: 0 3px 0 0;
  overflow: hidden;
  text-align: center;
  width: 15px;

  &:hover,
  &.active {
    background: $white;
    color: $black;
    cursor: pointer;
  }

  a {
    color: inherit;
    display: inline-block;
    height: 100%;
    padding: 3px 0 0;
    text-decoration: none;
    width: 100%;
  }
}

// Styles the Portfolio gallery
@mixin portfolio-gallery {
  .slide-buttons {
    @include portfolio-indicators;

    ul {
      @include portfolio-indicator-list;
    }

    li {
      @include portfolio-indicator-item;
    }
  }
}
  